<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-FVB7CK5\DUY;Initial Catalog=TeduShop;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>