@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Trang chủ</title>
    <link href="../../Assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="../../Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="../../Assets/client/js/jquery.min.js"></script>
    <!--script-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <!--header-->
    @{Html.RenderAction("Header", "Home");}
    <!---->
    <div class="container">
        @RenderBody()
        @{Html.RenderAction("Category", "Home");}
    </div>

    @{ Html.RenderAction("Footer", "Home");}
    <div class="clearfix"> </div>

    @RenderSection("footerJS", required: false)
</body>

</html>